body{	
	font-size: 16px;
}

h1{
	text-align: center;
	font-size: 1.75em;
}

.divclass{
	background-color: #dad5e9;
	box-sizing: border-box;
	border : 1px solid black;
	float : left;
	position: relative;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 10px;
}

.div-title{
	box-sizing: border-box;
	border : 1px solid black;
	font-size: 1.25em;
	position: absolute;
	top: 0px;
	right : 0px;
	padding : 2px;
	
}

.content{
	margin-top: 1.5em;
	font-size: 1.3em;
	padding: 0px 10px 10px 10px;
}

#sec1{
	background-color: #d68acd;
}

#sec2{
	background-color: #EE0055;
}

#sec3{
	background-color: #11FF59;
}

@media( min-width: 992px){
	.divclass{
		width : 31.33%;
		
	}
}
@media (max-width: 991px) and (min-width: 768px){
	
	.divclass:nth-child(3){
		//clear: left;
		width:98%;
	} 
	
	.divclass{
		//background-color: blue; 
		width: 48%;

	}
}
@media( max-width: 767px){
	.divclass{
		//clear: left;
		width:98%;
	}
	
}